$white: #fff;
$white-bgc: rgba($white,.55);
$white-bgc-hover: rgba($white,.7);
$black: #000;
$main-color: #855D54;
$main-bgc: #E9D5C5;
$main-bgc-dark: darken($main-bgc, 10%);
$second-color: #F0D4D4;
$font-color: #343434;
$font-color-hover: #343434;
$footer-color: #785c55;