<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/style.css" rel="stylesheet"/>
		<link rel="alternate" type="application/rss+xml" title="FEED" href="atom.xml">
		<title>{{ page.title }}{{ title or file.page.title}} | 家庭診療事</title>
		<meta property="og:url" content="https://familytalktw.github.io{{ page.url }}"/>
		<meta property="og:title" content="家庭診聊事"/>
		<meta property="og:image" content="https://familytalktw.github.io/images/base/familytalktw-logo.jpg"/>
		<meta property="og:site_name" content="家庭診聊事"/>
		<meta property="og:description" content="《家庭診聊事》是一個交流溝通對話的社團。我們想建立一個成長空間，當你累了，可以回溫休息。當你慌張時，可以來集思廣益。當你腦袋沒有工具時，可以學習再出發。"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header class="header">
			{% if contents or file %}
			{% include '../_includes/nav.html' %}
			{% else %}
			{% include nav.html %}
			{% endif %}
		</header>
		<main class="workspace">
			{{ content | safe }}{{ contents | safe }}
		</main>
		<footer>
			<a href="https://www.facebook.com/groups/familytalk/">家庭診聊事</a>
		</footer>
	</body>
</html>
